<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Layout: Positioning</title>
</head>
<body>
    <h2>Absolute positioning</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sed esse, quisquam quibusdam consectetur voluptate quo ratione porro, nam tempore suscipit sunt aliquid, asperiores laborum. Dolorem labore doloremque in ea.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum a iusto accusamus eius repudiandae temporibus harum fuga, cupiditate odio aut asperiores vitae quos deleniti, tenetur quibusdam soluta aliquam est.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam vel voluptatem doloribus cupiditate explicabo! Sequi voluptatibus expedita, eaque, inventore eos porro doloribus et ullam itaque debitis officia ipsa dicta pariatur!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum enim, similique molestias odio eos amet magni sunt et voluptatibus, ad officia assumenda deleniti beatae soluta accusantium ipsa quia doloribus alias?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo voluptate dignissimos laborum! Praesentium libero placeat reprehenderit fugit deserunt iure delectus a, enim, veritatis aut assumenda earum pariatur sapiente aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magni pariatur deserunt quaerat id consequatur perferendis incidunt cupiditate iste nemo. Reprehenderit impedit nesciunt voluptatibus, quos necessitatibus minima. Quam, doloribus molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae perferendis quis vel enim tempora dolore esse praesentium eos nam id, ipsum consequuntur similique corporis impedit sapiente et nostrum quos harum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus asperiores officia nesciunt quasi voluptatum exercitationem tenetur, dolorum consequuntur omnis, necessitatibus et doloribus officiis aliquid iste blanditiis minima quas. Atque!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nobis nisi odit obcaecati sapiente excepturi nam ullam molestias quidem! Nostrum cum laudantium eaque deleniti, eos quibusdam laboriosam aspernatur natus similique?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum veritatis, repudiandae voluptates, iusto obcaecati expedita voluptate dolor dignissimos officia quia dolores necessitatibus recusandae possimus. Ipsum aut earum repellendus voluptatem odio.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt necessitatibus eaque atque quaerat quam hic distinctio itaque, amet nulla perspiciatis accusamus recusandae ipsam consequatur, ut doloremque, totam provident maiores in.
        <figure class="thumbnail">
            <img src="img/download.jpg" width="100px" height="100px" alt="British Museum" />
            <figcaption class="popup">
                <img src="img/download.jpg" width="300px" height="300px" alt="British Museum" />
                <p>The library in the British Museum is in London</p>
            </figcaption>
            <!-- <img src="img/banner2.png" width="150px" height="150px" alt="new-banner" class="overlayed hide"/> -->      
        </figure>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore nam molestias soluta saepe consectetur laudantium a facere neque velit dolores aliquid unde ipsam animi nisi sint, facilis qui, adipisci cupiditate?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi magnam asperiores voluptas earum autem? Neque dolor explicabo culpa soluta enim id libero. Sint quis facilis obcaecati placeat animi numquam nisi. 
    </p>
</body>
</html>