<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multicolumn layout with flexbox</title>
    <link rel="stylesheet" href="multi-flex.css">
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <p>Hi</p>
        </div>
        <div class="second-container">
            <p>Hello</p>
        </div>
        <div class="third-container">
            <p>Hey</p>
        </div>
    </div>
</body>
</html>