<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="two-column-layout.css">
    <title>Multicolumn Layout</title>
</head>
<body>
    <header>
        <h1>Share Your Travels</h1> 
    </header>
    <nav>
        <h2>Navigation</h2>
        <ul>
            <li>Australia</li>
            <li>Belgium</li>
            <li>Canada</li>
            <li>France</li>
            <li>Germany</li>
            <li>Italy</li>
            <li>Mexico</li>
            <li>Poland</li>
            <li>United Kingdom</li>
            <li>United States</li>
        </ul>
    </nav>
    <div id="main">
        <h1>Page Title</h1>
        <figure>
            <img src="img/download.jpg" alt="British Museum" />
            <figcaption>British Museum</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos impedit ea facilis nihil possimus ratione cupiditate amet accusantium necessitatibus. Quibusdam maxime cupiditate laboriosam dicta labore, itaque aliquid neque obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aut eveniet id neque harum veritatis delectus minus nam minima temporibus atque omnis sequi beatae ea quaerat, iste ducimus mollitia dolorem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tempora repellendus fugit deserunt optio, odit officia non a nesciunt eos quia numquam. Repellendus esse, voluptas natus quasi earum nemo iste.</p>
    </div>
    <footer>
        &copy; Sarah Akinkunmi. June 7, 2021.
    </footer>
</body>
</html>