button {
    background-color: #146d37;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    padding: 2px;
    margin: 2px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

button:hover {
    background-color: #60b946;
}

.hover {
    width: 50px;
    height: 100px;
    background-color: red;
    transition: width 2s;
}

.hover:hover {
    width: 300px;
}

.move {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
}

@keyframes move {
    0% {background-color: red; left: 0px; top: 0px}
    25% {background-color: yellow; left: 200px; top:0px;}
    50% {background-color: blue; left: 200px; top: 200px}
    75% {background-color: green; left: 0px; top: 200px}
    100% {background-color: blue; left: 0px; top: 0px}
}