<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="three-column-flex.css" >
    <title>Three column flex</title>
</head>
<body>
    <div class="media">
        <img class="media-image" src="img/calgary.jpg" alt="calgary skyline"  />
        <div class="media-body">
            <h2>Fall in Calgary</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusamus ab, dolor odio quos illum cumque mollitia dolore alias facere. Libero iure architecto odit iusto similique omnis recusandae, delectus amet.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in veniam tenetur corporis. Nihil qui molestiae nobis, suscipit illum vel, tempore sequi recusandae facilis, at nulla animi? Dolorum, ipsum repudiandae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel maxime laborum obcaecati, voluptate minima ipsum officia numquam ipsa, iure assumenda voluptatem ullam! Officiis, repellendus. Obcaecati ipsam expedita illum nostrum aliquid.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aperiam itaque dignissimos nulla vel quia consequuntur, totam impedit unde eligendi, voluptatum magni quaerat minus quae blanditiis tempore beatae repellendus. Consequatur.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut totam eveniet, modi, autem quis ducimus non enim architecto soluta odio culpa beatae ut voluptatem blanditiis dolor? Facilis dolore eveniet maxime!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eum magni reiciendis consectetur, ut error voluptas deserunt eaque fugiat quia explicabo animi saepe eos ipsum accusantium rem eligendi autem. Nulla?
            </p>
        </div>
        <div>
            <div>
                <figure>
                    <img src="img/nigerian-flag.jpg" alt="nigerian flag"/>
                    <figcaption>My country's flag</figcaption>
                    <p>
                    Check out some cool facts about my country <a href="https://en.wikipedia.org/wiki/Nigeria" target="_blank">here</a>
                </p>
                </figure>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</body>
</html>