<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="float-example.css" rel="stylesheet">
    <title>Floating elements</title>
</head>
<body>
    <article>
        <figure>
            <img src="img/hamster.jpg" alt="Hamster" width="180px" />
            <figcaption>Hamster</figcaption>
        </figure>
        <figure>
            <img src="img/guinea-pig.jpg" alt="Guinea pig" width="180px" />
            <figcaption>Guinea pig</figcaption>
        </figure>
        <figure>
            <img src="img/rabbit.jpg" alt="Rabbit" width="180px" />
            <figcaption>Rabbit</figcaption>
        </figure>
        <figure>
            <img src="img/cat.jpg" alt="Cat" width="180px" />
            <figcaption>Cat</figcaption>
        </figure>
        <figure>
            <img src="img/dog.jpg" alt="Dog" width="250px" />
            <figcaption>Dog</figcaption>
        </figure>
        <p class="first">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quos ab quisquam quasi aliquid quas, molestiae, sapiente facilis maxime consequatur ipsum iure culpa. Blanditiis velit vitae iusto rerum quasi fugiat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sunt, veritatis totam sed praesentium, autem eligendi fuga neque voluptatum ducimus reprehenderit quia, quae nulla est velit deserunt illum iste commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugiat officia quibusdam, nobis id iure quam repellat ratione sed, illum ducimus sunt accusamus doloremque itaque ad neque porro unde aut.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, pariatur. Numquam laudantium repudiandae rem ea perferendis eligendi, voluptates quod officia rerum blanditiis? Saepe illum corporis est beatae itaque molestias nihil?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores nesciunt asperiores reiciendis eaque esse quibusdam ea amet autem quo, quos impedit nobis alias eligendi, cum atque facilis nihil magni voluptatem?
        </p>
    </article>
</body>
</html>