<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="three-column-layout.css">
    <title>Three-column Layout</title>
</head>
<body>
    <header>
        <h1>Share Your Travels</h1> 
    </header>
    <nav>
        <ul>
        <h2>Navigation</h2>

            <li><a href="https://en.wikipedia.org/wiki/Australia" target="_blank">Australia</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Belgium" target="_blank">Belgium</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Canada" target="_blank">Canada</a></li>
            <li><a href="https://en.wikipedia.org/wiki/France" target="_blank">France</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Germany" target="_blank">Germany</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Italy" target="_blank">Italy</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mexico" target="_blank">Mexico</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Poland" target="_blank">Poland</a></li>
            <li><a href="https://en.wikipedia.org/wiki/United Kingdom" target="_blank">United Kingdom</a></li>
            <li><a href="https://en.wikipedia.org/wiki/United States" target="_blank">United States</a></li>
        </ul>
    </nav>
    <aside>
        <div>
            <figure>
                <img src="img/nigerian-flag.jpg" alt="nigerian flag"/>
                <figcaption>My country's flag</figcaption>
            </figure>
        </div>
        <div>
            <p>
                Check out some cool facts about my country <a href="https://en.wikipedia.org/wiki/Nigeria" target="_blank">here</a>
            </p>
        </div>
    </aside>
    <div id="main">
        <h1>Page Title</h1>
        <figure>
            <img src="img/download.jpg" alt="British Museum" />
            <figcaption>British Museum</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos impedit ea facilis nihil possimus ratione cupiditate amet accusantium necessitatibus. Quibusdam maxime cupiditate laboriosam dicta labore, itaque aliquid neque obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aut eveniet id neque harum veritatis delectus minus nam minima temporibus atque omnis sequi beatae ea quaerat, iste ducimus mollitia dolorem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tempora repellendus fugit deserunt optio, odit officia non a nesciunt eos quia numquam. Repellendus esse, voluptas natus quasi earum nemo iste.</p>
    </div>
    <footer>
        &copy; Sarah Akinkunmi. June 7, 2021.
    </footer>
</body>
</html>